html {
  font-size: 10px;
  /*background-color: #2e1f46;*/
  background-color: #5c348d ;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* || typography */

p, input, li {
  font-family: 'Constantia', century;
  color: #2a2a2a;
}

h1 {
  font-size: 10rem;
  text-align: center;
  color: #dbe3ff;
  text-shadow: 2px 2px 10px #1e0042;
  font-family: cambria;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: black;
}

h3 {
  font-size: 2.2rem;
  color: black;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: #dcd2f9;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #7e70a9 ;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

button {
  width: 100%;
  font-size: 16px; 
  background-color: #7e70a9;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: times New Roman;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  background-color: #dcd2f9 ;
  padding-right: 5px;
  width: 50%;
}

aside li {
  padding-bottom: 5px;
}

footer {
  margin-top: 10px;
  padding: 5px;
  background-color: #7e6ac8;
}

/* || miscelaneous */

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

img {
 width: 600px; 
}

img.float-right  {
  float: right;
  padding: 0px 0px 10px 10px;
}

img.float-left  {
  float: left;
  padding: 0px 10px 10px 0px;
}  

/* || some table style */

table {
  border-collapse: collapse;
  display: inline-table;
  margin: 1em;
}

table th,
table td {
  border-right: solid 5px white;
  padding: 5px
}

thead tr {
  /*background-color: #ff80ff;*/
  text-align: left;
  color: #000;
  font-size: 1.3em;
}
